* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}


.button {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #8d581f 1.14%, #da8318 100%);
  color: white;
  display: block;
  width: 30%;
  border: none;
  padding: 14px 28px ;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transform: translate(116%, 20%);
  margin-top: 20px;
  margin-bottom: 40px;
}

.maincontainer {
  height: 236px;
  width: 50%;
  min-width: 40%;
  min-height: 232px;
  border: 1px solid rgb(228, 180, 109);
  background-color: rgb(232, 214, 126);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

h3 {
  color: beige;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  
}

h4 {
  text-align: center;
  font-weight: normal;
  margin-top: 0%; 
}



